.App {
  width: 600px;
  position: absolute;
  top: 25%;
  left: 25%;
  text-align: center;
  border: 2px solid black;
}

.numbers {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.num {
  background-color: blue;
  color: white;
  padding: 5px 10px;
}

.main {
  font-size: 30px;
  align-items: center;
}
.control {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}
.button {
  background-color: blue;
  color: white;
  padding: 5px 10px;
  border: none;
}
